<div ng-controller="BrowseController as browseCtrl">
    <div ng-repeat="album in albums" style="padding-bottom:30px; width: 100%">
        <div layout="row" layout-align="center center" class="albumTitle" style="background-color: {{album.color}};">
            <div flex>
                {{album.name}}
            </div>
            <md-button ng-if="album.status == 0" ng-click="addToCart(album)" class="md-raised md-primary" align="right">
                <md-icon md-svg-src="images/add_shopping_cart.svg"
                         aria-label="addToCart"
                         style="color: white"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-accent" aria-label="Collapse"
                ng-click="album.collapsed = !album.collapsed">
                <md-icon md-svg-src="{{album.collapsed && 'images/more_icon.svg' || 'images/less_icon.svg'}}"></md-icon>
            </md-button>
        </div>
        
        <div layout="column" ng-if="!album.collapsed">
            <div layout="column" ng-repeat="song in album.songs">
                <div layout="row" layout-align="center center"
                     class="md-padding">
                    <div flex class="md-headline">
                        {{song.title}}
                    </div>
                    <md-button ng-if="song.status == 0 && album.status == 0" ng-click="addToCart(song)" class="md-raised md-primary" align="right">
                        <md-icon md-svg-src="images/add_shopping_cart.svg"
                                 aria-label="addToCart"
                                 style="color: white"></md-icon>
                    </md-button>
                    <div ng-if="(song.status == 1 && album.status == 0) || album.status == 1" class="success unselectable">
                        In Cart
                    </div>
                    <md-button ng-if="(song.status == 2 && album.status == 0) || album.status == 2" class="md-raised md-primary" align="right">
                        Download
                    </md-button>
                </div>
                <md-divider></md-divider>
            </div>
        </div>
    </div>
</div>
