<div ng-controller="LoginController as loginCtrl">
    <md-card layout="column" ng-if="!loggedIn">
        <md-toolbar class="md-accent">
            <div layout="row" layout-align="center center" class="md-toolbar-tools">
                Account Login/Creation
            </div>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <form name="userForm" layout="column" layout-align="center center"
                 class="md-padding">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input name="email" ng-model="user.email"
                    required minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div class="hint" ng-show="showHints">How can we reach you?</div>
                    <div ng-messages="userForm.email.$error" ng-hide="showHints">
                        <div ng-message="required">An email address is required.</div>
                        <div ng-message="pattern">Invalid email address</div>
                        <div ng-message-exp="['minlength', 'maxlength']">
                            Your email must be between 8 and 100 characters long.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" ng-model="user.password" type="password"
                    required minlength="6" maxlength="30">
                    <div ng-messages="userForm.password.$error" ng-hide="showHints">
                        <div ng-message="required">A password is required.</div>
                        <div ng-message-exp="['minlength', 'maxlength']">
                            Your password must be between 6 and 30 characters long.
                        </div>
                    </div>
                </md-input-container>
            </form>

            <div layout="row" layout-align="center center" ng-if="errorMessage">
                {{errorMessage}}
            </div>
            
            <div layout="row">
                <div flex></div>
                <md-button ng-disabled="!userForm.$valid" ng-click="login()" class="md-raised md-accent">
                    Login
                </md-button>
                <div style="padding: 20px;"></div>
                <md-button ng-disabled="!userForm.$valid" ng-click="createAccount()" class="md-raised md-accent">
                    Create
                </md-button>
                <div flex></div>
            </div>
        </md-content>
    </md-card>
        
    <md-card layout="column" ng-if="loggedIn">
        <md-toolbar class="md-accent">
            <div layout="row" layout-align="center center" class="md-toolbar-tools">
                Login
            </div>
        </md-toolbar>

        <div layout="column" layout-align="center center"
             class="md-padding">
            Login Success!
            <div layout="row" layout-align="center center">
                <md-button ng-click="vl.navigateToPage('browse')" class="md-primary md-raised">
                    Browse
                </md-button>
                <div style="width: 20px;"></div>
                <md-button ng-click="logout()" class="md-warn md-raised">
                    Logout
                </md-button>
            </div>
        </div>
    </md-card>
</div>
