<div ng-controller="LoginController as loginCtrl">
    <md-card layout="column" ng-if="!loggedIn">
        <md-toolbar class="md-accent">
            <div layout="row" layout-align="center center" class="md-toolbar-tools">
                Account Login/Creation
            </div>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <div layout="column" layout-align="center center"
                 class="md-padding">
                <md-input-container style="margin-bottom: 0px">
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" type="password">
                </md-input-container>
            </div>

            <div layout="row" layout-align="center center" ng-if="errorMessage">
                {{errorMessage}}
            </div>
            
            <div layout="row">
                <div flex></div>
                <md-button ng-click="login()" class="md-raised md-accent">
                    Login
                </md-button>
                <div style="padding: 20px;"></div>
                <md-button ng-click="createAccount()" class="md-raised md-accent">
                    Create
                </md-button>
                <div flex></div>
            </div>
        </md-content>
    </md-card>
        
    <md-card layout="column" ng-if="loggedIn">
        <md-toolbar class="md-accent">
            <div layout="row" layout-align="center center" class="md-toolbar-tools">
                Login
            </div>
        </md-toolbar>

        <div layout="column" layout-align="center center"
             class="md-padding">
            Login Success!
            <md-button ng-click="vl.navigateToPage('browse')" class="md-primary md-raised">
                Browse
            </md-button>
        </div>
    </md-card>
</div>
