<div ng-controller="CartController as cartCtrl">
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="indeglia@gmail.com">
        
        <!--Replace your_callback_server_URL with the correct URL-->
        <!--<input type="hidden" name="callback_url" value="your_callback_server_URL">-->
        <input type="hidden" name="callback_timeout" value="3">
        <input type="hidden" name="callback_version" value="61"><!--Required! -->
        
        <md-card layout="column" ng-if="loggedIn">
            <md-toolbar class="md-accent">
                <div layout="row" layout-align="center center" class="md-toolbar-tools">
                    Cart
                </div>
            </md-toolbar>

            <div layout="column" ng-repeat="item in items | filter:inCart">
                <input type="hidden" name="item_name_{{$index + 1}}" value="{{item.title}}">
                <input type="hidden" name="amount_{{$index + 1}}" value="{{item.price}}">
                <div layout="row" layout-align="center center"
                     class="md-padding">
                    <div flex class="md-headline">
                        {{item.title}}
                    </div>
                    <div class="md-headline">
                        ${{item.price}}
                    </div>
                    <md-button ng-click="removeFromCart(item)" class="md-fab md-mini md-warn">
                        <md-icon md-svg-src="images/remove_shopping_cart.svg"
                                 aria-label="removeFromCart"
                                 style="color: white"></md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </div>
            <div layout="column" layout-align="center center" ng-if="numItems <= 0"
                 class="md-padding">
                No items in cart.
                <md-button ng-click="vl.navigateToPage('browse')" class="md-primary md-raised">
                    Browse
                </md-button>
            </div>

            <div layout="row" layout-align="center center" ng-if="numItems > 0">
                <md-button type="submit" aria-label="checkout">
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px">
                </md-button>
            </div>
        </md-card>
    </form>
        
    <md-card layout="column" ng-if="!loggedIn">
        <md-toolbar class="md-accent">
            <div layout="row" layout-align="center center" class="md-toolbar-tools">
                Cart
            </div>
        </md-toolbar>

        <div layout="column" layout-align="center center"
             class="md-padding">
            You are not logged in.
            <md-button ng-click="vl.navigateToPage('login')" class="md-primary md-raised">
                Login
            </md-button>
        </div>
    </md-card>
</div>
